
.septa-container {
	/*position: fixed;*/
	/*left: 50%;*/
	/*top: 10%;*/
	/*transform: translate(-50%, -50%);*/
	/*margin-top: -50px;*/
	/*margin-left: -250px;*/
	margin: 10px 20px;
	border: 4px solid #CCCCCC;
	width: 400px;
}

.septa-container-header {
	padding: 10px;
	text-align: center;
	font: 25px Verdana;
	color: white;
	background-color: #595959;
	font-weight: 350;
}

.septa-img {
	height: 17px;
	width: 50px;
    background-image: url("/septa-fares/lib/img/septa-img.png");
}

.container-section {
	border-bottom: 1px solid #CCCCCC;
	padding: 15px 0;
	font: 18px Verdana;
}

.container-section-header {
	margin-bottom: 15px;
}

.septa-container-content {
	text-align: center;
}

.container-section-helper {
	margin-top: 10px;
	font-size: 14px;
	color: #BBB;
	min-height: 69px;
	padding: 0 20px;
}

.fare-total {
	background-color: #595959;
	color: white;
}

.container-section.fare-total .container-section-header {
	margin-bottom: 0px;
}

.fare-total-text {
	font-size: 40px;
	font-weight: bold;
}

#location_formfields {
	/*padding: 0 160px;*/
}

.container-section-formfield {
	padding: 0 10px;
}

#number_of_rides_outterdiv > #number_of_rides_outterdiv{
	margin:0 auto;

}

.septa-fare-form #number_of_rides {
	margin-bottom: 0px;
}

.toggleable-div.hide {
	display: none;
}

.radio-disabled {
	color: #BBB;
}